.page {
  margin: 0 auto;
  padding: 20px;
  max-width: 1140px;
  overflow: hidden; /* hides offscreen animations */
}

.js-scroll-animate {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.is-paused {
  animation-play-state: paused;
}

.is-running {
  animation-play-state: running;
}

/* ---------------------------------------
slide in from left
--------------------------------------- */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  1% {
    transform: translate3d(-200px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-scroll-animate--slideinleft {
  animation-name: slideInLeft;
}

/* ---------------------------------------
slide in from right
--------------------------------------- */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  1% {
    transform: translate3d(200px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-scroll-animate--slideinright {
  animation-name: slideInRight;
}

/* ---------------------------------------
=test
--------------------------------------- */

.test {
  background-color: red;
}
