/* =================================================
=variables
================================================= */

:root {
  --scroll-transforms-distance: 36px;
}

/* =================================================
=nuke margins
================================================= */
*,
*::before,
*::after {
  margin-block-start: 0;
}

/* =================================================
=body
================================================= */

body {
  margin: 0;
  padding: 1rem;

  /* prevent horizontal scrollbars */
  overflow-x: hidden;
}

/* =================================================
=animations
================================================= */

/*
- all animations start by having a state where the element is not moved, we need that so that collisions are detected without the element being moved first
- at 1%, the element is moved in a position where it can be animated back
- at 100% the element is in its final state
*/

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  1% {
    opacity: 0;
    transform: translate3d(0, var(--scroll-transforms-distance), 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  1% {
    opacity: 0;
    transform: translate3d(var(--scroll-transforms-distance), 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  1% {
    opacity: 0;
    transform: translate3d(calc(var(--scroll-transforms-distance) * -1), 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* =================================================
=animation classes
================================================= */

.slideFromBottom {
  animation-name: slideFromBottom;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.slideFromRight {
  animation-name: slideFromRight;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.slideFromLeft {
  animation-name: slideFromLeft;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
